<div class="loginForm col-6 container" id="loginForm">
    <form action="" , method="POST">
        <div class="header">Login</div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp"
                placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group form-check">
        </div>
        <div id="login-message"></div>
        <button type="button" class="btn btn-primary btn-small" id="btn-login">Login</button>
        <button type="button" class="btn btn-primary btn-small" id="btn-register">Register</button>
    </form>
</div>