
    <table id="register" >
        <tr class="row_big colorPrimary">
            <td>
                <div class="text-title-big">Quiz Online</div>
            </td>
        </tr>
        <tr class="row_big colorPrimary">
            <td>
                <div class="mb-5">
                    <span class="text-small">USERNAME </span>
                    <input type="text" class="colorSecondary" id="register_username">
                </div>
                <div>
                    <span class="text-small">PASSWORD</span>
                    <input type="password" class="colorSecondary" id="register_password">
                </div>
                <div class="mt-5">
                    <button type="button" class="text-title-small loginButton " id="btn-register">Register</button>
                </div>
            </td>
        </tr>
        <tr class="row_big colorPrimary">
            <td>
                <button type="button" class="text-title-small loginButton " id="btn-back-login">Back to Login</button>

            </td>
        </tr>
    </table>

