<!-- <table id="game">
    <tr class="row_small colorPrimary">
        <td colspan="2">
            <table>
                <tr>
                    <td class="text-small" style="width: 20%;">
                        Round: <div id="round" class="colorPrimary" style="display: inline-block">0</div>
                    </td>
                    <td class="text-small" style="width: 20%;">
                        Time: <div id="timer" class="colorPrimary" style="display: inline-block">0</div>
                    </td>
                    <td class="text-large" id="player-name" style="width: 20%;">
                        Player
                    </td>
                    <td class="text-small" style="width: 20%;">
                        Points: <div id="points" class="colorPrimary" style="display: inline-block">0</div>
                    </td>
                    <td class="text-small" style="width: 20%;">
                        Team: <div id="team" class="colorPrimary" style="display: inline-block">0</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="row_big colorSecondary">
        <td colspan="2">
            <div class="text-large" id="question">THIS IS A PLACEHOLDER!</div>
        </td>
    </tr>
    <tr class="row_big">
        <td class="tile" id="tile-a">
            <button class="answerButton" onclick="socket.emit('click', 'a');">
                <div class="text-large" id="answer-a">A</div>
                <div class="text-counter" id="counter-a" style="display: none;">0</div>
            </button>
        </td>
        <td class="tile" id="tile-b">
            <button class="answerButton" onclick="socket.emit('click', 'b');">
                <div class="text-large" id="answer-b">D</div>
                <div class="text-counter" id="counter-b" style="display: none;">0</div>
            </button>
        </td>
    </tr>
    <tr class="row_big">
        <td class="tile" id="tile-c">
            <button class="answerButton" onclick="socket.emit('click', 'c');">
                <div class="text-large" id="answer-c">C</div>
                <div class="text-counter" id="counter-c" style="display: none;">0</div>
            </button>
        </td>
        <td class="tile" id="tile-d">
            <button class="answerButton" onclick="socket.emit('click', 'd');">
                <div class="text-large" id="answer-d">D</div>
                <div class="text-counter" id="counter-d" style="display: none;">0</div>
            </button>
        </td>
    </tr>
</table> -->