<table id="prepareGame">
    <tr class="row_very_small colorPrimary">
        <td colspan="2">
            <table>
                <tr>
                    <td class="text-small" style="width: 20%;">
                        Phòng: <div id="phong" class="colorPrimary" style="display: inline-block">0</div>
                    </td>

                    <td class="text-small" style="width: 20%;">
                        Câu : <div id="cau" class="colorPrimary" style="display: inline-block">0</div>
                    </td>
                    <td class="text-small" style="width: 20%;">
                        Thời gian: <div id="thoigian" class="colorPrimary" style="display: inline-block">0</div>
                    </td>

                    <td class="text-small" style="width: 20%;">
                        Đúng: <div id="dung" class="colorPrimary" style="display: inline-block">0</div>
                    </td>

                    <td style="width: 20%;">
                        <span class="text-small" id="player-name"></span>
                        <button id="btnBack" class="btn btn-small ml-4">Thoát</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="colorPrimary">
            <table id="prepareGame-body">
                <tr class="row_very_big colorSecondary inforRoom-box">
                    <td style="width : 20%" class="colorSecondary">
                        <table id="user-info-room" class=" colorSecondary" style="margin-top: 50px;">
                            <thead>
                                <tr>
                                    <th scope="col" id="user-header">Người tham gia</th>
                                </tr>
                            </thead class="text-left">
                            <tbody id="users">    
                            </tbody>
                        </table>
                    </td>
                    <td style="width:80%">
                        <div><label for="txtSocauhoi" style="width : 120px"> Số câu hỏi</label>
                            <button class=" btn btn-small btn-success btnDecrement">-</button>
                            <input type="text" id="txtSocauhoi" disabled=true />
                            <button class="btn btn-small btn-success btnIncrement">+</button>
                        </div>
                        <div class="mt-2"><label for="txtThoigian" style="width : 120px"> Thời gian(s)/câu</label>
                            <button class="btn btn-small btn-success btnDecrement">-</button>
                            <input type="text" id="txtThoigian" disabled=true />
                            <button class="btn btn-small btn-success btnIncrement">+</button>
                        </div>
                        <div id="roomStatus" class="alert alert-warning alert-small mt-2"
                            style="display: inline-block;"> Đang
                            chờ
                            chủ phòng bắt đầu bài thi
                        </div>

                        <button style="display: none; " class="btn btn-primary text-center mt-2" id="btnStartLuyentap">
                            Bắt
                            đầu</button>
                        <button style="display: none; " class="btn btn-primary text-center mt-2" id="btnStart"> Bắt
                            đầu</button>
                    </td>
                </tr>

            </table>
            <table id="game">
                <tr class="row_big colorSecondary">
                    <td colspan="2">
                        <div class="text-large" id="question">THIS IS A QUESTION!</div>
                    </td>
                </tr>
                <tr class="row_medium">
                    <td class="tile" id="tile-a">
                        <button class="answerButton">
                            <div class="text-large" id="answer-a">A</div>
                            <div class="text-small" id="counter-a" style="display: none;">0</div>
                        </button>
                    </td>
                    <td class="tile" id="tile-b">
                        <button class="answerButton">
                            <div class="text-large" id="answer-b">B</div>
                            <div class="text-small" id="counter-b" style="display: none;">0</div>
                        </button>
                    </td>
                </tr>
                <tr class="row_medium">
                    <td class="tile" id="tile-c">
                        <button class="answerButton">
                            <div class="text-large" id="answer-c">C</div>
                            <div class="text-small" id="counter-c" style="display: none;">0</div>
                        </button>
                    </td>
                    <td class="tile" id="tile-d">
                        <button class="answerButton">
                            <div class="text-large" id="answer-d">D</div>
                            <div class="text-small" id="counter-d" style="display: none;">0</div>
                        </button>
                    </td>
                </tr>

            </table>

        </td>
    </tr>

</table>


<!-- 
  

    

    <tr class="colorPrimary row_very_big" id="game">
        <td>
            

        </td>
    </tr>
 -->