<table id="score" class=" table colorSecondary">
    <thead>
        <tr>
            <th scope="col" colspan="3" class="text-title-big">KẾT QUẢ</th>

        </tr>
        <tr>
            <th scope="col">TOP</th>
            <th scope="col">TÊN</th>
            <th scope="col">ĐIỂM</th>
        </tr>
    </thead>
    <tbody id="scoreboard-result">
    </tbody>
</table>